version: '3.8'

services:
  app:
    build:
      context: ""
      dockerfile: Dockerfile
    container_name: php-store-app
    restart: always
    working_dir: /var/www/
    volumes:
      - ../:/var/www
  nginx:
    image: nginx:1.19-alpine
    container_name: php-store-nginx
    restart: always
    ports:
      - "8000:80"
    volumes:
      - ../:/var/www
      - ./nginx:/etc/nginx/conf.d
  db:
    image: mysql:8.0
    container_name: php-store-db
    volumes:
      - ./storage/mysql:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
  myadmin:
    image: phpmyadmin
    container_name: php-store-myadmin
    volumes:
      - ./storage/myadmin:/var/lib/myadmin
    restart: always
    environment:
      - PMA_ARBITRARY=1
    ports:
      - "8080:80"
